<h1 *ngIf="!gameOver">Current Player: {{player}}</h1>
<h1 *ngIf="winner">{{winner}} wins!</h1>
<h1 *ngIf="drawGame">the Game is Drawn</h1>

<div class="button">
    <button *ngIf="winner" (click)="newGame()">Play Again</button>
    <button *ngIf="gameOver && drawGame" (click)="newGame()">Reset Game</button>
</div>

<main>
    <app-square 
        *ngFor="let square of squares; let i = index" 
        [value]="square"
        (click)="makeMove(i)"
        [isInWinningPattern]=" i | inWinningPattern :winningPattern"
        >
    </app-square>
</main>

<div>
    <h2>scores</h2>
    <div>
        <span>Player X: {{xWon}}</span><br>
        <span>Player O: {{oWon}}</span>
    </div>
</div>